<div class="item fleft">
    <div class=" p4 b-table">
        <table>
            <tr>
                <td>Fan nomi:</td>
                <td>{{item.subject}}</td>
            </tr>
            <tr>
                <td>O'qituvchi:</td>
                <td>{{item.uqit}}</td>
            </tr>
            <tr>
                <td>Xona raqami:</td>
                <td>{{item.class}}</td>
            </tr>
            <tr>
                <td>Turi:</td>
                <td>{{item.subType}}</td>
            </tr>
        </table>
    </div>
</div>
