.no-content{

    text-align: center;
    margin: 10px 100px;
    padding: 5px;
    background-color: rgb(248, 179, 179);
    border-radius: 15px;
    border: 1px solid rgb(248, 111, 96);
    p{
        color: red;
    }
}